|*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* sem o box ele vai alterar os codigos de padding ou margin */
}

         /* PARTE SUPERIOR DA PÁGINA */
header{
    width: 1200px; 
    /* largura */
    margin: 0 auto ;
    /* espaço externo, a distância entre ele e outro elemento da página */
    padding: 10px 0;
    /* padding a distancia entre os conteúdos */
    display: flex;
    /* display flex e uma forma de organizar a página de maneira fácil*/
    justify-content: center;
    /* gap: 3rem; */
    /* serve para criar um espaço entre os elementos dentro de um display flex */
}

.img_logo{
    width: 117px;
    /* largura */
}

.menu{
    list-style: none;
    /* nenhum estilo na lista (ul ou ol) */
    display: flex;
    /* display flex e uma forma de organizar a página de maneira fácil*/
    gap: 2.5rem;
    /* serve para criar um espaço entre os elementos dentro de um display flex */
    align-items: center;
    /* alinha os itens na direção vertical */
    height: 100%;
    /* altura */
}

.item_menu{
    color: #004A8D;
    /* cor do texto de um elemento */
    /* font: normal 600 15px "Montserrat"; */
/* NORMAL = Estilo da fonte  /    600 = Espessura da Fonte   /   15px  Tamanho da fonte  / Montserrat família da fonte */
    font-size: 15px;
    /* Tamanho da fonte */
    font-weight: 600;
    /* Espessura da Fonte */
    transition: 0.6s;
    /* e animção suave, quando uma propriedade muda / EX: Mudará a cor azul para vermelho */


    display: flex;
    /* display flex e uma forma de organizar a página de maneira fácil */
    gap: 8px;
    /* serve para criar um espaço entre os elementos dentro de um display flex */
    align-items: center;
    /* alinha os itens na direção vertical */

    /*  para deixar mais fácil utiliza o me-03 na (i class="fa-solid fa-magnifying-glass me-02") */
}

.item_menu:hover{
    color: #F7941D;
    /* cor do texto de um elemento */
    cursor: pointer;
    /* o cursor do mouse vira uma mãozinha, indicando que o elemento pode ser clicado  */
}

.info_nav{
    background-color: #004A8D;
    /* e a cor de fundo de um elemento */
    width: 100%;
    /* largura */
    padding: 10px 0;
    /* padding a distancia entre os conteúdos */
}

.info_nav_pag{
    list-style: none;
    /* nenhum estilo na lista (ul ou ol) */
    color: #fff;
    /* cor do texto de um elemento */
    display: flex;
    /* display flex e uma forma de organizar a página de maneira fácil */
    gap: 0.7rem;
    /* serve para criar um espaço entre os elementos dentro de um display flex */
    margin: 0 auto;
    /* espaço externo, a distância entre ele e outro elemento da página */
    width: 1000px;
    /* largura */
    padding: 0 !important;
    /* padding a distancia entre os conteúdos */
}

.texts{
    width: 70%;
    /* largura */
    height: 450px;
    /* altura */
    background-color: rgba(0,0,0,0.8);
    /* e a cor de fundo de um elemento */
    padding: 3rem  2rem;
    /* padding a distancia entre os conteúdos */
    display: flex !important;
     /* display flex e uma forma de organizar a página de maneira fácil   /    !important = dá prioridade máxima a essa regra */
    flex-direction: column;
    /* Faz os itens ficar um embaixo do outro */
    align-items: flex-start;
    /* alinha os itens no inicio do eixo vertical */
    justify-content: space-around;
    /* distribui os itens na horizontal, deixando espaço ao redor de cada item */
}

.texts h2{
    font-size: 2.5rem;
    /* tamanho da fonte(texto) */
    width: 60%;
    /* largura */
    text-align: left;
    /* Alinhado dos dois lados (esquerda e direita) como em jornais e livros */
}


.texts p{
    text-align: justify;
    /* Alinhado dos dois lados (esquerda e direita) como em jornais e livros */
    width: 100%;
    /* largura */
    font-size: 1.2rem;
    /* tamanho da fonte(texto) */
}

.texts a{
    width: 370px;
    /* largura */
    height: 65px;
    /* altura */
    background-color: #F7941D;
    /* e a cor de fundo de um elemento */
    display: flex;
    /* display flex e uma forma de organizar a página de maneira fácil */
    align-items: center;
    /* alinha os itens no inicio do eixo vertical */
    justify-content: center;
    /* distribui os itens na horizontal, deixando espaço ao redor de cada item */
    border-radius: 8px;
    /* Serve para arredondar as bordas de um elemento */
    text-decoration: none;
    /* Serve para adicionar ou remover decorações no texto (Sublinado,linha em cima ou linha no meio) */
    color: #fff;
    /* cor do texto de um elemento */
    font-weight: 700;
    /* Define a espessura da fonte */
    text-transform: uppercase;
    /* Muda a forma como o texto é exibido, deixando tudo em maiúculo=uppercase /  minúsculas=lowercase */
    transition: 1s;
    /* e animção suave, quando uma propriedade muda / EX: Mudará a cor azul para vermelho */
}

.texts a:hover{
    background-color: #4CBF79;
}